Repository isl-org/Open3D, pull requests merged in 2020-12, with the labels that each got.

#2582 FixedRadiusSearch in core::nns
  cpp/open3d/core/CMakeLists.txt
  cpp/open3d/core/nns/FaissIndex.h
  cpp/open3d/core/nns/FixedRadiusIndex.cpp
  cpp/open3d/core/nns/FixedRadiusIndex.h
  cpp/open3d/core/nns/FixedRadiusSearch.cu
  cpp/open3d/core/nns/FixedRadiusSearch.h
  cpp/open3d/core/nns/MemoryAllocation.h
  cpp/open3d/core/nns/NNSIndex.h
  cpp/open3d/core/nns/NanoFlannIndex.h
  cpp/open3d/core/nns/NeighborSearchCommon.h
  cpp/open3d/utility/MiniVec.h
  cpp/tests/CMakeLists.txt
  cpp/tests/core/FixedRadiusIndex.cpp
Labels: nns

#2680 Connect FixedRadiusSearch to NearestNeighborSearch
  cpp/open3d/core/CMakeLists.txt
  cpp/open3d/core/nns/FixedRadiusIndex.cpp
  cpp/open3d/core/nns/NearestNeighborSearch.cpp
  cpp/open3d/core/nns/NearestNeighborSearch.h
  cpp/pybind/core/nns/nearest_neighbor_search.cpp
  cpp/tests/core/NearestNeighborSearch.cpp
  python/test/core/test_nn.py
Labels: nns

#2744 fix undefined reference in Debug build with gcc
  cpp/open3d/visualization/visualizer/GuiSettingsModel.cpp
Labels: build/install issue

#2752 Enable HybridSearch on GPU
  cpp/open3d/core/nns/FaissIndex.cpp
  cpp/open3d/core/nns/FixedRadiusIndex.cpp
  cpp/open3d/core/nns/NNSIndex.cpp
  cpp/open3d/core/nns/NNSIndex.h
  cpp/open3d/core/nns/NanoFlannIndex.cpp
  cpp/open3d/core/nns/NanoFlannIndex.h
  cpp/open3d/core/nns/NearestNeighborSearch.cpp
  cpp/tests/core/NearestNeighborSearch.cpp
  python/test/core/test_nn.py
Labels: nns

#2751 fix out of bounds memory access in ragged_to_dense op
  cpp/open3d/ml/impl/misc/RaggedToDense.cuh
Labels: bug (but not a build issue)
